[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHEy6TnfKH6ZNoxf/u++ZK7ZEtb2sF7lTUVmcuOKjhHk
	email = asharman22@gmail.com
	name = Austin Sharman
